<%= form_for @group do |f| %>

<div class="form-group">
  <div class="form-group string iptinal">
    <%= f.label "title", :class => "string optional control-lable" %>
    <%= f.text_field :title, :class => "string optionall form-control" %>
  </div>
  <div class="form-group string iptinal">
    <%= f.label "description", :class => "string optional control-lable" %>
    <%= f.text_field :description, :class => "string optionall form-control" %>
  </div>

</div>

<%= f.submit "submit", class: "btn btn-primary", data: { disable_with: "submitting..." } %>
<% end %>
